In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount("")

In [3]:
from google.colab import drive

In [4]:
drive._mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/regression/NFA 2019 public_data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,1.402924e-01,1.995463e-01,0.097188051,3.688847e-02,2.931995e-02,0.000000e+00,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,4.830000e+05,6.870000e+05,334600,1.270000e+05,1.009430e+05,0.000000e+00,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,1.598044e-01,1.352610e-01,0.084003213,1.374213e-02,3.339780e-02,0.000000e+00,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,5.501762e+05,4.656780e+05,289207.1078,4.731155e+04,1.149823e+05,0.000000e+00,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,3.875102e-01,1.894622e-01,1.26E-06,4.164833e-03,3.339780e-02,1.114093e+00,1.728629e+00,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
72181,World,2016,5001,BiocapTotGHA,3.984702e+09,1.504757e+09,5111762779.0,1.095445e+09,4.726163e+08,0.000000e+00,1.216928e+10,3A
72182,World,2016,5001,EFConsPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72183,World,2016,5001,EFConsTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A
72184,World,2016,5001,EFProdPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72185,World,2016,5001,EFProdTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A

In [7]:
df.describe()

,year,country_code,crop_land,grazing_land,fishing_ground,built_up_land,carbon,total
count,72186.000000,72186.000000,5.171400e+04,5.171400e+04,5.171300e+04,5.171300e+04,5.171300e+04,7.217700e+04
mean,1990.263154,155.618915,1.920772e+07,1.352875e+07,1.004860e+07,1.984737e+06,3.072609e+07,7.792960e+07
std,16.018761,390.261979,1.685819e+08,1.294180e+08,1.081375e+08,1.730488e+07,3.989630e+08,7.455443e+08
min,1961.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.876963e-02
25%,1977.000000,59.000000,3.581080e-01,1.948302e-01,8.005409e-02,3.786298e-02,0.000000e+00,1.894023e+00
50%,1991.000000,121.000000,3.251810e+00,9.978667e+00,6.154094e+00,2.044437e-01,0.000000e+00,8.292253e+03
75%,2004.000000,193.000000,3.610817e+06,1.734192e+06,9.450000e+05,3.867180e+05,1.915736e+01,1.532959e+07
max,2016.000000,5001.000000,3.984702e+09,3.417089e+09,2.979605e+09,4.726163e+08,1.257160e+10,2.061182e+10

In [8]:
df['crop_land'].size

72186

In [9]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1A       16
1B       16
Name: QScore, dtype: int64

In [10]:
df.isna()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
72181,False,False,False,False,False,False,False,False,False,False,False,False
72182,False,False,False,False,False,False,False,False,False,False,False,False
72183,False,False,False,False,False,False,False,False,False,False,False,False
72184,False,False,False,False,False,False,False,False,False,False,False,False
72185,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [12]:
72186 - 20472

51714

In [13]:
df = df.dropna()

In [14]:
df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,1.402924e-01,1.995463e-01,0.097188051,3.688847e-02,2.931995e-02,0.000000e+00,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,4.830000e+05,6.870000e+05,334600,1.270000e+05,1.009430e+05,0.000000e+00,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,1.598044e-01,1.352610e-01,0.084003213,1.374213e-02,3.339780e-02,0.000000e+00,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,5.501762e+05,4.656780e+05,289207.1078,4.731155e+04,1.149823e+05,0.000000e+00,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,3.875102e-01,1.894622e-01,1.26E-06,4.164833e-03,3.339780e-02,1.114093e+00,1.728629e+00,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
72181,World,2016,5001,BiocapTotGHA,3.984702e+09,1.504757e+09,5111762779.0,1.095445e+09,4.726163e+08,0.000000e+00,1.216928e+10,3A
72182,World,2016,5001,EFConsPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72183,World,2016,5001,EFConsTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A
72184,World,2016,5001,EFProdPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72185,World,2016,5001,EFProdTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A

In [15]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [16]:
df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [17]:
# An obvious change in our target variable after removing the missing values is that there are only three classes left 
# and from the distribution of the 3 classes, we can see that there is an obvious imbalance between the classes. 
# There are methods that can be applied to handle this imbalance such as oversampling and undersampling.
# Oversampling involves increasing the number of instances in the class with fewer instances while undersampling 
# involves reducing the data points in the class with more instances.
# For now, we will convert this to a binary classification problem by combining class '2A' and '1A'.

In [18]:
df['QScore'] = df['QScore'].replace(['1A'], '2A')       # replacing 1A to 2A

<ipython-input-18-350b298c7892>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['QScore'] = df['QScore'].replace(['1A'], '2A')       # replacing 1A to 2A

In [19]:
df.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [20]:
df_2A = df[df.QScore=='2A']

In [21]:
df_2A

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,2.258528e-02,2.998367e-02,0.000000e+00,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,9.171000e+05,1.217520e+06,0.000000e+00,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,7.947991e-03,2.924496e-02,0.000000e+00,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,3.227369e+05,1.187524e+06,0.000000e+00,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,1.472910e-02,2.924496e-02,1.391455e+00,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
65469,Ukraine,2016,230,BiocapTotGHA,8.966961e+07,6.457412e+06,19268322.04,6.920056e+06,3.952345e+06,0.000000e+00,1.262677e+08,2A
65470,Ukraine,2016,230,EFConsPerCap,1.155004e+00,1.081601e-02,0.149119494,5.150234e-02,8.893945e-02,1.453137e+00,2.908519e+00,2A
65471,Ukraine,2016,230,EFConsTotGHA,5.132678e+07,4.806484e+05,6626661.768,2.288692e+06,3.952345e+06,6.457538e+07,1.292505e+08,2A
65472,Ukraine,2016,230,EFProdPerCap,2.017831e+00,5.768143e-03,0.216720935,3.223480e-03,8.893945e-02,1.665767e+00,3.998251e+00,2A
65473,Ukraine,2016,230,EFProdTotGHA,8.966961e+07,2.563282e+05,9630775.281,1.432470e+05,3.952345e+06,7.402438e+07,1.776767e+08,2A

In [22]:
df_2A.size

2880

In [23]:
df_2A.shape

(240, 12)

In [24]:
df.QScore=='3A'

0        True
1        True
2        True
3        True
4        True
         ...
72181    True
72182    True
72183    True
72184    True
72185    True
Name: QScore, Length: 51713, dtype: bool

In [25]:
df[df.QScore=='3A']

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,1.402924e-01,1.995463e-01,0.097188051,3.688847e-02,2.931995e-02,0.000000e+00,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,4.830000e+05,6.870000e+05,334600,1.270000e+05,1.009430e+05,0.000000e+00,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,1.598044e-01,1.352610e-01,0.084003213,1.374213e-02,3.339780e-02,0.000000e+00,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,5.501762e+05,4.656780e+05,289207.1078,4.731155e+04,1.149823e+05,0.000000e+00,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,3.875102e-01,1.894622e-01,1.26E-06,4.164833e-03,3.339780e-02,1.114093e+00,1.728629e+00,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
72181,World,2016,5001,BiocapTotGHA,3.984702e+09,1.504757e+09,5111762779.0,1.095445e+09,4.726163e+08,0.000000e+00,1.216928e+10,3A
72182,World,2016,5001,EFConsPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72183,World,2016,5001,EFConsTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A
72184,World,2016,5001,EFProdPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72185,World,2016,5001,EFProdTotGHA,3.984702e+09,1.046937e+09,2042179333.0,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A

In [26]:
df[df['QScore']=='3A'].sample(350)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1844,Angola,1998,7,EFConsPerCap,1.837971e-01,2.126751e-01,0.125913516,3.427656e-02,2.107309e-02,1.027125e-01,6.804478e-01,3A
70122,Belgium,1961,255,AreaPerCap,2.073617e-01,4.796628e-02,0.066528,3.926363e-02,6.140762e-02,0.000000e+00,4.225276e-01,3A
8959,Burundi,2003,29,EFProdTotGHA,2.064942e+06,3.154303e+05,3836666.577,5.274756e+04,2.608710e+05,5.560559e+04,6.586263e+06,3A
48053,Paraguay,1974,169,BiocapTotGHA,1.567652e+06,1.021831e+07,73614224.8,3.568165e+05,1.543295e+05,0.000000e+00,8.591134e+07,3A
1847,Angola,1998,7,EFProdTotGHA,1.984634e+06,3.162505e+06,1943625.135,5.324160e+05,3.267235e+05,1.306786e+06,9.256690e+06,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
9931,Canada,2013,33,BiocapTotGHA,1.114540e+08,9.912924e+06,316196054.5,1.195712e+08,2.688691e+06,0.000000e+00,5.598229e+08,3A
47991,Paraguay,1966,169,EFConsTotGHA,9.168789e+05,4.993000e+06,1277698.338,2.469753e+03,8.346274e+04,2.949208e+05,7.568431e+06,3A
51681,Zimbabwe,1981,181,EFProdTotGHA,3.175874e+06,3.502956e+06,2537910.646,2.641454e+04,3.745466e+05,2.855713e+06,1.247342e+07,3A
46738,Pakistan,2002,165,AreaPerCap,2.204156e-01,3.456524e-02,0.014036252,5.016315e-02,2.330299e-02,0.000000e+00,3.424832e-01,3A
37574,Madagascar,1964,129,EFProdPerCap,4.395165e-01,1.303339e+00,0.24354389,2.681843e-02,4.513518e-02,2.965602e-02,2.088010e+00,3A

In [27]:
df_3A = df[df['QScore']=='3A'].sample(350)

In [28]:
df_3A

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
17395,Belarus,2006,57,BiocapTotGHA,9.162754e+06,2.976747e+06,15996724.54,1.722023e+05,5.522934e+05,0.000000e+00,2.886072e+07,3A
49151,Philippines,1999,171,EFConsTotGHA,3.017341e+07,3.490822e+06,9747050.489,1.675986e+07,3.911095e+06,3.447052e+07,9.855275e+07,3A
17068,Dominican Republic,1990,56,EFConsPerCap,3.360947e-01,1.558780e-01,0.071642234,3.898781e-02,3.576139e-02,4.986873e-01,1.137051e+00,3A
1578,Angola,1965,7,BiocapPerCap,3.343997e-01,4.985745e+00,2.26542525,9.112071e-01,2.357518e-02,0.000000e+00,8.520352e+00,3A
53408,Russian Federation,2004,185,EFProdPerCap,7.531866e-01,1.543010e-02,0.859226228,1.683776e-01,2.924744e-02,3.845987e+00,5.671455e+00,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
41290,Mexico,1984,138,BiocapPerCap,4.468483e-01,3.942811e-01,0.761880474,2.273668e-01,4.646640e-02,0.000000e+00,1.876843e+00,3A
11674,Chad,1986,39,BiocapPerCap,2.787982e-01,2.772157e+00,1.256813895,1.752790e-01,2.350778e-02,0.000000e+00,4.506556e+00,3A
13706,Congo,2016,46,BiocapPerCap,1.279303e-01,2.626822e+00,6.098988931,3.030121e-01,3.404334e-02,0.000000e+00,9.190797e+00,3A
34632,"Korea, Republic of",1976,117,AreaPerCap,6.225504e-02,8.901520e-04,0.180944559,8.215050e-01,1.475111e-02,0.000000e+00,1.080346e+00,3A
24925,Guadeloupe,1986,87,EFConsTotGHA,7.109043e+04,1.335934e+04,60363.45792,9.100347e+04,1.173324e+03,6.206879e+05,8.576779e+05,3A

In [29]:
data_df = df_2A.append(df_3A)

In [30]:
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,0.022585,2.998367e-02,0.000000,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,917100.000000,1.217520e+06,0.000000,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,0.007948,2.924496e-02,0.000000,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,322736.916200,1.187524e+06,0.000000,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,0.014729,2.924496e-02,1.391455,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
41290,Mexico,1984,138,BiocapPerCap,4.468483e-01,3.942811e-01,0.761880474,0.227367,4.646640e-02,0.000000,1.876843e+00,3A
11674,Chad,1986,39,BiocapPerCap,2.787982e-01,2.772157e+00,1.256813895,0.175279,2.350778e-02,0.000000,4.506556e+00,3A
13706,Congo,2016,46,BiocapPerCap,1.279303e-01,2.626822e+00,6.098988931,0.303012,3.404334e-02,0.000000,9.190797e+00,3A
34632,"Korea, Republic of",1976,117,AreaPerCap,6.225504e-02,8.901520e-04,0.180944559,0.821505,1.475111e-02,0.000000,1.080346e+00,3A
24925,Guadeloupe,1986,87,EFConsTotGHA,7.109043e+04,1.335934e+04,60363.45792,91003.473030,1.173324e+03,620687.912500,8.576779e+05,3A

In [31]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)
data_df = data_df.reset_index(drop = True)
data_df.shape

(590, 12)

In [32]:
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Niger,1997,158,AreaPerCap,1.375232e+00,2.161079e+00,0.148633123,2.946926e-03,0.039373,0.000000e+00,3.727264e+00,3A
1,Trinidad and Tobago,2016,220,EFProdTotGHA,6.071428e+04,8.287973e+03,129192.8608,8.413697e+04,1668.712582,1.216205e+07,1.244605e+07,2A
2,Guadeloupe,2008,87,BiocapTotGHA,5.043730e+04,1.592216e+04,63056.03838,8.307037e+04,1275.200048,0.000000e+00,2.137611e+05,3A
3,Cuba,1988,49,EFConsPerCap,5.689962e-01,1.389459e-01,0.226615984,1.854058e-01,0.032643,1.569792e+00,2.722398e+00,3A
4,Gabon,2016,74,BiocapTotGHA,4.526785e+05,5.952474e+06,32496921.23,4.852458e+06,70589.956970,0.000000e+00,4.382512e+07,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
585,Mongolia,2016,141,BiocapPerCap,1.860730e-01,7.553962e+00,6.202122483,1.288470e-01,0.059542,0.000000e+00,1.413055e+01,2A
586,Tajikistan,2016,208,EFConsTotGHA,3.791551e+06,1.155479e+06,606394.8563,1.504228e+04,825120.583900,1.881941e+06,8.275529e+06,2A
587,Togo,1989,217,EFConsTotGHA,1.161345e+06,4.588525e+05,1866236.136,2.532009e+05,55945.703320,2.428339e+05,4.038414e+06,3A
588,Djibouti,2016,72,AreaTotHA,2.000000e+03,1.700000e+06,5600,2.305000e+05,24950.799940,0.000000e+00,1.963051e+06,2A
589,Luxembourg,2003,256,EFConsPerCap,1.079235e+00,5.227516e-01,3.135841,1.228131e-01,0.120239,1.274200e+01,1.772288e+01,3A

In [33]:
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [34]:
data_df = data_df.drop(columns=['country', 'year', 'country_code'])

In [35]:
data_df

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,AreaPerCap,1.375232e+00,2.161079e+00,0.148633123,2.946926e-03,0.039373,0.000000e+00,3.727264e+00,3A
1,EFProdTotGHA,6.071428e+04,8.287973e+03,129192.8608,8.413697e+04,1668.712582,1.216205e+07,1.244605e+07,2A
2,BiocapTotGHA,5.043730e+04,1.592216e+04,63056.03838,8.307037e+04,1275.200048,0.000000e+00,2.137611e+05,3A
3,EFConsPerCap,5.689962e-01,1.389459e-01,0.226615984,1.854058e-01,0.032643,1.569792e+00,2.722398e+00,3A
4,BiocapTotGHA,4.526785e+05,5.952474e+06,32496921.23,4.852458e+06,70589.956970,0.000000e+00,4.382512e+07,2A
...,...,...,...,...,...,...,...,...,...
585,BiocapPerCap,1.860730e-01,7.553962e+00,6.202122483,1.288470e-01,0.059542,0.000000e+00,1.413055e+01,2A
586,EFConsTotGHA,3.791551e+06,1.155479e+06,606394.8563,1.504228e+04,825120.583900,1.881941e+06,8.275529e+06,2A
587,EFConsTotGHA,1.161345e+06,4.588525e+05,1866236.136,2.532009e+05,55945.703320,2.428339e+05,4.038414e+06,3A
588,AreaTotHA,2.000000e+03,1.700000e+06,5600,2.305000e+05,24950.799940,0.000000e+00,1.963051e+06,2A
589,EFConsPerCap,1.079235e+00,5.227516e-01,3.135841,1.228131e-01,0.120239,1.274200e+01,1.772288e+01,3A

In [36]:
X = data_df.drop(columns='QScore')
y = data_df['QScore']

In [87]:
# split the data into training and testing sets 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
y_train.value_counts()

3A    241
2A    172
Name: QScore, dtype: int64

In [38]:
# There is imbalance in the class distribution. We'll use SMOTE only on training data

In [88]:
# encode categorical variable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X_train.record = encoder.fit_transform(X_train.record)
X_test.record = encoder.transform(X_test.record)

In [89]:
X_train

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
285,3,3.885366e+05,3.673652e+03,1221099.829,6.652650e+05,1.467565e+05,0.000000e+00,2.425332e+06
113,1,2.000000e+06,3.183800e+07,4127000,1.817000e+06,3.209850e+05,0.000000e+00,4.010298e+07
18,2,2.472755e-01,1.594244e-01,0.089324448,6.942669e-02,2.619654e-02,0.000000e+00,5.916476e-01
76,7,2.775975e+07,5.488762e+06,304069.5489,1.263894e+07,5.617959e+06,2.062027e+08,2.580122e+08
206,1,1.526276e+06,3.985224e+06,11495564.27,4.594224e+07,2.345511e+05,0.000000e+00,6.318386e+07
...,...,...,...,...,...,...,...,...
277,5,7.222579e+07,1.470393e+07,41048423.48,5.129210e+06,1.020681e+07,3.221636e+08,4.654778e+08
9,5,2.510086e+07,1.078413e+07,41099195.96,1.126125e+05,4.643090e+06,5.649698e+06,8.738958e+07
359,0,1.682991e-01,3.332656e-01,0.110710818,4.232473e-02,2.931990e-02,0.000000e+00,6.839201e-01
192,3,2.390842e+06,3.472069e+06,321051.9445,3.010494e+05,4.455152e+05,0.000000e+00,6.930528e+06
559,2,8.015447e-03,9.410000e-05,0,1.235319e+00,4.394230e-02,0.000000e+00,1.287371e+00

In [90]:
X_test

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
225,6,2.782933e-01,9.268949e-01,0.195919335,3.990802e-02,4.652054e-02,2.207728e-02,1.509613e+00
14,2,2.964641e-01,3.990108e-01,2.348521849,8.911941e-02,5.625737e-02,0.000000e+00,3.189373e+00
85,0,1.127448e-01,1.591925e-01,0.170026732,2.230238e-02,3.764942e-02,0.000000e+00,5.019158e-01
418,2,4.778023e-01,1.024918e-01,0.220856,4.308268e-02,1.109931e-01,0.000000e+00,9.552255e-01
132,7,1.442803e+08,2.022532e+08,122641075,6.380653e+06,1.314264e+07,1.131481e+08,6.018460e+08
...,...,...,...,...,...,...,...,...
346,7,4.280190e+06,7.492611e+05,643017.8398,2.510699e+06,1.492888e+06,6.437872e+07,7.405477e+07
369,1,1.800000e+05,1.040000e+05,1556400,1.031800e+06,4.772040e+04,0.000000e+00,2.919920e+06
140,2,5.736778e-01,7.396747e-01,0.495167002,1.466589e+00,9.803011e-02,0.000000e+00,3.373139e+00
533,3,8.874120e+06,1.494961e+07,41699741.92,3.462366e+05,5.340518e+05,0.000000e+00,6.640376e+07
171,4,3.443797e-01,1.263165e+00,0.198197741,6.287369e-02,4.536969e-02,4.016318e-01,2.315617e+00

In [91]:
X_train['record'].value_counts()

0    57
1    56
3    54
5    53
7    52
4    51
2    50
6    40
Name: record, dtype: int64

In [92]:
X_test

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
225,6,2.782933e-01,9.268949e-01,0.195919335,3.990802e-02,4.652054e-02,2.207728e-02,1.509613e+00
14,2,2.964641e-01,3.990108e-01,2.348521849,8.911941e-02,5.625737e-02,0.000000e+00,3.189373e+00
85,0,1.127448e-01,1.591925e-01,0.170026732,2.230238e-02,3.764942e-02,0.000000e+00,5.019158e-01
418,2,4.778023e-01,1.024918e-01,0.220856,4.308268e-02,1.109931e-01,0.000000e+00,9.552255e-01
132,7,1.442803e+08,2.022532e+08,122641075,6.380653e+06,1.314264e+07,1.131481e+08,6.018460e+08
...,...,...,...,...,...,...,...,...
346,7,4.280190e+06,7.492611e+05,643017.8398,2.510699e+06,1.492888e+06,6.437872e+07,7.405477e+07
369,1,1.800000e+05,1.040000e+05,1556400,1.031800e+06,4.772040e+04,0.000000e+00,2.919920e+06
140,2,5.736778e-01,7.396747e-01,0.495167002,1.466589e+00,9.803011e-02,0.000000e+00,3.373139e+00
533,3,8.874120e+06,1.494961e+07,41699741.92,3.462366e+05,5.340518e+05,0.000000e+00,6.640376e+07
171,4,3.443797e-01,1.263165e+00,0.198197741,6.287369e-02,4.536969e-02,4.016318e-01,2.315617e+00

In [93]:
X_test['record'].value_counts()

0    24
4    24
7    23
3    23
2    22
5    22
6    21
1    18
Name: record, dtype: int64

In [94]:
import imblearn                             # for oversampling
from imblearn.over_sampling import SMOTE    # Synthetic Minorty Oversampling Technique
smote = SMOTE(random_state=1)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)

In [95]:
X_train_balanced.shape

(482, 8)

In [96]:
X_train_balanced['record'].value_counts()

0    68
1    65
5    62
2    61
4    61
3    60
6    53
7    52
Name: record, dtype: int64

In [97]:
from sklearn.preprocessing import MinMaxScaler        # scaling to specific range
scaler = MinMaxScaler()
normalised_train_df = scaler.fit_transform(X_train_balanced.drop(columns=['record']))
normalised_train_df = pd.DataFrame(normalised_train_df, columns=X_train_balanced.drop(columns=['record']).columns)
normalised_train_df['record'] = X_train_balanced['record']          # adding back 'record' column after remaining columns are scaled

In [98]:
X_test

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
225,6,2.782933e-01,9.268949e-01,0.195919335,3.990802e-02,4.652054e-02,2.207728e-02,1.509613e+00
14,2,2.964641e-01,3.990108e-01,2.348521849,8.911941e-02,5.625737e-02,0.000000e+00,3.189373e+00
85,0,1.127448e-01,1.591925e-01,0.170026732,2.230238e-02,3.764942e-02,0.000000e+00,5.019158e-01
418,2,4.778023e-01,1.024918e-01,0.220856,4.308268e-02,1.109931e-01,0.000000e+00,9.552255e-01
132,7,1.442803e+08,2.022532e+08,122641075,6.380653e+06,1.314264e+07,1.131481e+08,6.018460e+08
...,...,...,...,...,...,...,...,...
346,7,4.280190e+06,7.492611e+05,643017.8398,2.510699e+06,1.492888e+06,6.437872e+07,7.405477e+07
369,1,1.800000e+05,1.040000e+05,1556400,1.031800e+06,4.772040e+04,0.000000e+00,2.919920e+06
140,2,5.736778e-01,7.396747e-01,0.495167002,1.466589e+00,9.803011e-02,0.000000e+00,3.373139e+00
533,3,8.874120e+06,1.494961e+07,41699741.92,3.462366e+05,5.340518e+05,0.000000e+00,6.640376e+07
171,4,3.443797e-01,1.263165e+00,0.198197741,6.287369e-02,4.536969e-02,4.016318e-01,2.315617e+00

In [99]:
X_test = X_test.reset_index(drop=True)
normalised_test_df = scaler.transform(X_test.drop(columns = ['record']))
normalised_test_df = pd.DataFrame(normalised_test_df, columns = X_test.drop(columns=['record']).columns)
normalised_test_df['record'] = X_test['record']

In [100]:
normalised_train_df

,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,record
0,1.262581e-04,1.105208e-06,2.269928e-04,2.232931e-04,4.841793e-04,0.000000e+00,2.013602e-04,3
1,6.499162e-04,9.578372e-03,7.671767e-04,6.098675e-04,1.058994e-03,0.000000e+00,3.329501e-03,1
2,8.019186e-11,4.796237e-11,1.660471e-11,2.330274e-11,8.642765e-11,0.000000e+00,4.504823e-11,2
3,9.020756e-03,1.651279e-03,5.652413e-05,4.242200e-03,1.853478e-02,6.385623e-02,2.142115e-02,7
4,4.959758e-04,1.198943e-03,2.136935e-03,1.542030e-02,7.738313e-04,0.000000e+00,5.245762e-03,1
...,...,...,...,...,...,...,...,...
477,1.021795e-02,1.843523e-03,3.374874e-04,4.132183e-03,1.853478e-02,6.199749e-02,2.138002e-02,6
478,2.125668e-10,1.302738e-11,1.564627e-09,9.613904e-10,4.062796e-10,0.000000e+00,1.000701e-09,1
479,5.345162e-11,8.785856e-11,1.365247e-10,4.173277e-10,1.260899e-10,0.000000e+00,2.012478e-10,0
480,7.468264e-11,1.375777e-11,1.814701e-10,2.243360e-11,1.257200e-10,1.798018e-10,1.568124e-10,6
481,4.037385e-11,2.194182e-11,2.123222e-10,2.425171e-10,9.926424e-11,0.000000e+00,1.696533e-10,2

In [101]:
normalised_test_df

,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,record
0,9.027132e-11,2.788537e-10,3.641986e-11,1.339494e-11,1.534806e-10,6.836823e-12,1.212612e-10,6
1,9.617607e-11,1.200413e-10,4.365717e-10,2.991251e-11,1.856044e-10,0.000000e+00,2.607212e-10,2
2,3.647500e-11,4.789261e-11,3.160663e-11,7.485690e-12,1.242130e-10,0.000000e+00,3.759836e-11,0
3,1.551034e-10,3.083437e-11,4.105531e-11,1.446050e-11,3.661887e-10,0.000000e+00,7.523384e-11,2
4,4.688506e-02,6.084729e-02,2.279801e-02,2.141636e-03,4.336021e-02,3.503937e-02,4.996752e-02,7
...,...,...,...,...,...,...,...,...
172,1.390882e-03,2.254131e-04,1.195319e-04,8.427043e-04,4.925339e-03,1.993660e-02,6.148306e-03,7
173,5.849246e-05,3.128811e-05,2.893225e-04,3.463188e-04,1.574392e-04,0.000000e+00,2.424228e-04,1
174,1.862589e-10,2.225290e-10,9.204763e-11,4.922538e-10,3.234211e-10,0.000000e+00,2.759781e-10,2
175,2.883717e-03,4.497549e-03,7.751652e-03,1.162127e-04,1.761945e-03,0.000000e+00,5.513090e-03,3
176,1.117466e-10,3.800195e-10,3.684339e-11,2.110326e-11,1.496837e-10,1.243761e-10,1.881787e-10,4

**Logistic** **Regression**

In [102]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
model = log_reg.fit(normalised_train_df, y_train_balanced)

In [96]:
LogisticRegression(C= 1.0, class_weight= None, dual= False, fit_intercept= True, intercept_scaling= 1, l1_ratio= None, max_iter= 100,
multi_class= 'auto', n_jobs= None, penalty= 'l2', random_state= None, solver='lbfgs', tol= 0.0001, verbose= 0, warm_start= False)

LogisticRegression()

In [55]:
y_pred = model.predict(normalised_test_df)

In [56]:
y_pred

array(['2A', '2A', '2A', '2A', '3A', '2A', '3A', '3A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A',
       '2A', '3A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A',
       '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A'], dtype=object)

**Measuring Classification Performance**

Cross-validation and accuracy

In [57]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_train_balanced, cv=5, scoring='f1_macro')
scores

array([0.4733312 , 0.52310718, 0.4573913 , 0.48290398, 0.49803922])

K-Fold Cross Validation

In [62]:
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
kf = KFold(n_splits=5)
f1_scores=[]
# running for each split
for train_index, test_index in kf.split(normalised_train_df):
  X_train, X_test = normalised_train_df.iloc[train_index], normalised_train_df.iloc[test_index]
  y_train, y_test = y_train_balanced[train_index], y_train_balanced[test_index]
  model = LogisticRegression().fit(X_train, y_train)
  f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(X_test), pos_label = '2A')*100)

In [63]:
f1_scores

[35.29411764705882,
 56.06060606060607,
 60.29411764705882,
 51.96850393700788,
 0.0]

Stratified K-Fold Cross Validation

In [66]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 1)
f1_scores = []
# run for every split
for train_index, test_index in skf.split(normalised_train_df, y_train_balanced):
  X_train, X_test = np.array(normalised_train_df)[train_index], np.array(normalised_train_df)[test_index]
  y_train, y_test = y_train_balanced[train_index], y_train_balanced[test_index]
  model = LogisticRegression().fit(X_train, y_train)
  f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(X_test), pos_label='2A'))

In [67]:
f1_scores

[0.5, 0.5535714285714286, 0.4952380952380952, 0.537037037037037, 0.5]

Leave One Out Cross Validation(LOOCV)

In [68]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()
scores = cross_val_score(LogisticRegression(), normalised_train_df, y_train_balanced, cv=100, scoring = 'f1_macro')

In [69]:
scores

array([0.58333333, 0.28571429, 0.375     , 0.375     , 0.76190476,
       0.375     , 0.28571429, 0.375     , 0.375     , 0.375     ,
       0.28571429, 0.4       , 0.28571429, 0.375     , 0.375     ,
       0.375     , 0.375     , 0.375     , 0.76190476, 0.16666667,
       0.28571429, 0.58333333, 0.375     , 0.8       , 0.58333333,
       0.76190476, 0.375     , 0.375     , 0.58333333, 0.375     ,
       0.76190476, 0.375     , 0.375     , 0.76190476, 0.        ,
       0.375     , 0.        , 0.76190476, 0.28571429, 0.58333333,
       0.4       , 0.28571429, 0.28571429, 0.58333333, 0.4       ,
       0.28571429, 0.16666667, 0.28571429, 0.28571429, 0.28571429,
       0.58333333, 0.28571429, 0.28571429, 0.28571429, 0.28571429,
       0.16666667, 0.58333333, 0.28571429, 0.28571429, 0.28571429,
       0.4       , 0.28571429, 0.28571429, 0.16666667, 0.58333333,
       0.28571429, 0.58333333, 0.28571429, 0.28571429, 0.28571429,
       0.16666667, 0.28571429, 0.28571429, 0.28571429, 0.28571429,
       0.28571429, 0.16666667, 0.4       , 0.16666667, 0.28571429,
       0.28571429, 0.28571429, 0.5       , 0.2       , 0.        ,
       0.33333333, 0.33333333, 0.33333333, 0.5       , 0.2       ,
       0.33333333, 0.33333333, 0.        , 0.33333333, 0.33333333,
       0.73333333, 0.33333333, 0.5       , 0.2       , 0.33333333])

In [70]:
scores.size

100

In [71]:
average_score = scores.mean() * 100

In [72]:
average_score

36.38333333333333

Confusion Matrix

In [103]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix
new_predictions = log_reg.predict(normalised_test_df)

In [104]:
new_predictions

array(['2A', '2A', '2A', '2A', '3A', '2A', '3A', '3A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A',
       '2A', '3A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A',
       '2A', '2A', '3A', '2A', '2A', '2A', '2A', '2A', '2A', '3A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A', '2A',
       '2A'], dtype=object)

In [105]:
cnf_mat = confusion_matrix(y_true = y_test, y_pred = new_predictions, labels = ['2A', '3A'])

In [106]:
cnf_mat

array([[ 64,   4],
       [100,   9]])

Accuracy

In [107]:
accuracy = accuracy_score(y_true = y_test, y_pred = new_predictions)
print('Accuracy: {}'.format(round(accuracy*100,2)))

Accuracy: 41.24

Recall

In [108]:
recall = recall_score(y_true = y_test, y_pred = new_predictions, pos_label='2A')
print('Recall: {}'.format(round(recall*100, 2)))

Recall: 94.12

F1-Score

In [109]:
f1 = f1_score(y_true = y_test, y_pred = new_predictions, pos_label = '2A')
print('F1: {}'.format(round(f1*100, 2)))

F1: 55.17